.User{
    width: 95%;
    height: 50%;
    align-content: center;
    margin: 50;
    border: 2px solid rgb(97, 99, 245);
    background-color: rgb(135, 137, 238);
    text-decoration: chartreuse;
    border-radius: 15px;
    
}
.User input{
    background-color: aqua;
    border-color: blueviolet;
    border-style: inset;
    border-radius: 25px;
    text-align: center;
    
}